<!DOCTYPE html>
<html>

    <head>
        <title>Selective Disclosure</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    </head>

    <body>
        <!-- NAVIGATION -->
        <ul class="nav nav-tabs bg-dark">
            <li class="nav-item">
                <a class="nav-link active" href="/client">CLIENT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/owner">OWNER</a>
            </li>
        </ul>

        <div class="container">
            <br>

            <!-- DATA -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                            <div class="col-sm-6">
                                <p class="card-text"><img src="https://developer.uport.me/static/2fb76885ec751e2f5edccf2798552ac4/02f33/selectivedisclosure.png" width="100%"/></p>
                            </div>
                            <div class="col-sm-6">
                                <h5>Client App</h5>
                                <p>
                                    <ul>
                                        <li>Ethereum account address <code>{{ ClientAddress }}</code></li>
                                        <li>Private key <code>{{ ClientPrivateKey }}</code></li>
                                        <li>Did <code>{{ ClientDid }}</code></li>
                                    </ul>
                                </p>
            
                                <h5>Owner</h5>
                                <p>
                                    <ul>
                                        <li>Ethereum account address <code>{{ UserAddress }}</code></li>
                                        <li>Private key <code>{{ UserPrivateKey }}</code></li>
                                        <li>Did <code>{{ UserDid }}</code></li>
                                    </ul>
                                </p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <!-- JSON WEB TOKEN -->
            <div class="row">
                <div class="col-sm-6">
                    <h5>Selective Disclosure Request</h5>
                    <p>
                        <a href="https://github.com/uport-project/specs/blob/develop/messages/sharereq.md">SELECTIVE DISCLOSURE REQUEST SPECS</a>
                        <br><br>JWT<br><code>{{ JWTRequest}}</code><br>
                        <pre style="background-color:white; padding:20px; border-radius:10px">{{ jwtHeaderRequest }}<br>{{ jwtPayloadRequest }}</pre>
                    </p>
                </div>
                <div class="col-sm-6">
                    <h5>Selective Disclosure Response</h5>
                    <p>
                        <a href="https://github.com/uport-project/specs/blob/develop/messages/shareresp.md">SELECTIVE DISCLOSURE RESPONSE SPECS</a>
                        <br><br>JWT<br><code>{{ JWTResponse }}</code><br>
                        <pre style="background-color:white; padding:20px; border-radius:10px">{{ jwtHeaderResponse }}<br>{{ jwtPayloadResponse }}</pre>
                    </p>
                </div>
            </div>
        </div>
        <br>

        <!-- JS -->
        <script language="JavaScript" type="text/javascript" src="https://kjur.github.io/jsrsasign/jsrsasign-latest-all-min.js"></script>

    </body>

</html>